[build]
  functions = "server/functions"
  publish = "dist"

[dev]
  command = "npm run dev"
  targetPort = 5173
  publish = "dist"
  framework = "#custom"
  functions = "server/functions"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/index/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200